.carousel img{
  height: 80vh;
  object-fit: cover;
}

.contact {
  margin-top: 35px;
}

.aboutme{
  margin-top: 55px;
}

.aboutme-progress{
    margin-top: 55px; 
} 

.progress{
    margin: 10px;
    height: 25px;
    
}

.progress-bar{
  background-color:rgb(187, 90, 166);
  font-weight: bold;
}